<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.itcc.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>com.itcc.servlet.Reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pwd</servlet-name>
        <servlet-class>com.itcc.servlet.Pwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllIn</servlet-name>
        <servlet-class>com.itcc.servlet.ShowAllIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelIn</servlet-name>
        <servlet-class>com.itcc.servlet.DelIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIn</servlet-name>
        <servlet-class>com.itcc.servlet.UpdateIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddIn</servlet-name>
        <servlet-class>com.itcc.servlet.AddIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelOut</servlet-name>
        <servlet-class>com.itcc.servlet.DelOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllOut</servlet-name>
        <servlet-class>com.itcc.servlet.ShowAllOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOut</servlet-name>
        <servlet-class>com.itcc.servlet.AddOut</servlet-class>
    </servlet><servlet>
        <servlet-name>Quit</servlet-name>
        <servlet-class>com.itcc.servlet.Quit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemIn</servlet-name>
        <servlet-class>com.itcc.servlet.ItemIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemOut</servlet-name>
        <servlet-class>com.itcc.servlet.ItemOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemOut</servlet-name>
        <servlet-class>com.itcc.servlet.AddItemOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelItemOut</servlet-name>
        <servlet-class>com.itcc.servlet.DelItemOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemIn</servlet-name>
        <servlet-class>com.itcc.servlet.AddItemIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelItemIn</servlet-name>
        <servlet-class>com.itcc.servlet.DelItemIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Status</servlet-name>
        <servlet-class>com.itcc.servlet.Status</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/Reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pwd</servlet-name>
        <url-pattern>/Pwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllIn</servlet-name>
        <url-pattern>/ShowAllIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelIn</servlet-name>
        <url-pattern>/DelIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIn</servlet-name>
        <url-pattern>/UpdateIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddIn</servlet-name>
        <url-pattern>/AddIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelOut</servlet-name>
        <url-pattern>/DelOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllOut</servlet-name>
        <url-pattern>/ShowAllOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOut</servlet-name>
        <url-pattern>/AddOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quit</servlet-name>
        <url-pattern>/Quit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemIn</servlet-name>
        <url-pattern>/ItemIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemOut</servlet-name>
        <url-pattern>/ItemOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemOut</servlet-name>
        <url-pattern>/AddItemOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelItemOut</servlet-name>
        <url-pattern>/DelItemOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemIn</servlet-name>
        <url-pattern>/AddItemIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelItemIn</servlet-name>
        <url-pattern>/DelItemIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Status</servlet-name>
        <url-pattern>/Status</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
    <distributable/>
<distributable/>\
</web-app>
